/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* general resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}
/* RESET ENDS */

/* header */
header {
  background-color: #ff9233;
  padding: .4% 0;
}

header div {
  font-size: 1.4rem;
  text-align: center;
}

/* sign up */
#wrapper {
  display: flex;
  justify-content: space-between;
}

#wrapper img {
  width: 50%;
}

#wrapper section {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

#wrapper section h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 20%;
}

/* sign up info */
#info {
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40vh;
}

#info input, #confirm {
  font-size: 2rem;
  width: 70%;
  margin: 2% 0;
  padding: 2% 0 2% 2%;
  border-radius: 0.5rem;
  border: solid 1px #bdbdbd;
}

#confirm {
  text-align: center;
  color: black;
  letter-spacing: 0.1rem;
  background-color: #bdbdbd;
  transition: all .2s ease-in-out;
}

#confirm:hover {
  color: white;
  background-color: #ff9233;
  cursor: pointer;
  transform: scale(1.03);
  border: solid 1px white;
}

#wrapper section .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 40vh;
  margin-bottom: 3%;
}

#wrapper section .container a {
  font-size: 1.6rem;
  color: grey;
  transition: color .2s;
  transition: border-top .2s;
  margin: 0 5%;
  text-decoration: none;
}

#wrapper section .container a:hover {
  color: #ff9233;
  border-top: solid 2px #ff9233;
  padding-top: 1%;
}

@media (max-width: 1024px) {
  #wrapper img {
    width: 60%;
  }

  #info {
    width: 100%;
  }
  #info input {
    font-size: 1.7rem;
  }
}

@media (max-width: 800px) {
  #wrapper img{
    display: none;
  }
  
  #wrapper {
    justify-content: center;
    align-items: center;
    background-image: url(../course-image/fitnesswomen.jpg);
    background-size: cover;
  }

  #wrapper h1 {
    margin-top: 10%;
    color: white;
  }

  #wrapper section {
    width: 80%;
  }

  #info {
    height: 90vh;
  }

  #wrapper section .container a {
    color: white;
    padding-bottom: 10%;
  }

  #confirm:hover {
    border: solid 1px #ff9233;
  }

}

@media (max-width: 500px) {
  #info input, #confirm {
    font-size: 1.8rem;
  }

  #confirm {
    margin-top: 5%;
    padding-bottom: 2%;
  }
}
